.task__row{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;    
    border-radius: 5px;
    border: 1px solid black;
}

.task__row:nth-child(0){
    background-color: brown;
    
}

.action__buttons >div{
    display: flex;
    flex-direction: row;
    width: 30%;
}

.action__buttons >div > button{
    margin-left: 20px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;

}

.action__buttons > button:hover{
    cursor: pointer;
}

.complete__status{
    color: green;
}