.task__row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    
}

.task__row:nth-child(2){
    color: chocolate;
    
}

.task__row > p{
    width: 70%;
    text-align: center;
}

.action__buttons{
    width: 30%;
}

.action__buttons > button{
    margin-left: 20px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;

}

.action__buttons > button:hover{
    cursor: pointer;
}